* {
    padding: 0px;
    margin: 0px;
}
h1,h2,h3 {
    color: white;
    padding: 10px;
}
h2,h3 {
    font-size: 4rem;
    font-style: italic;
    color: black;
}
h3 {
    font-size: 2rem;
    color: black;
    background-color: #bbb;
    background-size: cover;
    padding-left: 20px;
    border-right: 1px;
    border-left: 1px;
}
p {
    font-family: monospace;
    font-size: 13px;
}
a {
    color: #eee;
    text-decoration: none;
    float: right;
    padding: 3px;
}
pre {
    background-color: #000;
    color: white;
    padding: 10px;
    font-family: monospace;
    white-space: pre-wrap;
}
body {
    font-family: serif;
    color: black;
    background-color: #555;
    padding: 0px;
}
header{
    background-color: #000;
    background-size: auto;
    padding: 0px;
}
main {
    padding-top: 3em;
    padding-bottom: 3em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
footer {
    background-color: black;
    padding: 3px
}

.title-red {
    color: #f00;
}
.tricks {
    color: #333;
}

.nav {
    font-size: small;
    text-align: right
}
.content {
    padding: 2em;
}
.main-box {
    padding: 0em;
    background-color: #eee;
    border-radius: 25px;
    box-shadow: 1px 1px, inset 1px 1px;
}
footer p {
    font-size: small;
    color: white;
    padding: 2px;
}
#square {
    width: 100px;
    height: 100px;
    background: #f00;
    margin-bottom: 20px;
}
#rectangle {
    width: 200px;
    height: 100px;
    background: red;
    margin-bottom: 20px;
}
#circle {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50px;
    margin-bottom: 20px;
}