html,
body {
    font-family: sans-serif;
    margin: 0px auto;
    padding: 0px;
    width: 650px;
    background: #000;
}
nav {
    padding: 10px;
    width: 130px;
    float: left;
    background: #000;
}
footer {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #000;
    color: orange;
    text-align: center;
    border-top: 1px solid orange;
    width: inherit;
}
h1,
h2,
h3{
    text-align: center;
    color: orange;
    background: #000;
    margin: 0;
    overflow: auto;
}
h1,h3 {
    box-shadow: 0px 0px 50px orange;
}
h2 {
    font-size: 20px;
    box-shadow: 0px 2px 10px orange;
}

main p {
    padding: 5px;
}
nav a {
    text-decoration: none;
    color: orange;
    padding: 2px 5px;
    width: 65px;
    display:block;
    border-radius: 5px;
    box-shadow: 0px 0px 50px orange;
}
header ul{
    text-align:center;
}
header li{
    width: 70px;
    height: 30px;
    margin: 2px 10px;
    text-align:center;
    list-style:none;
    display:inline;
}
header a{
    text-decoration: none;
    padding: 2px 5px;
    width: 65px;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 0px 50px orange;
}
header a:hover { 
    color: orange;
    box-shadow: 0px 0px 10px black;
}
nav li {
    width: 70px;
    height: 30px;
    text-align: center;
    margin: auto;
    list-style: none;
}
nav a:hover {
    color: white;
    box-shadow: 0px 0px 10px white;
}
#wrapper {
    background: #000;
}
#main-part {
    width: 420px;
    margin: 20px;
    padding: 10px;
    float: right;
    background-color: #eee;
}
#column-left {
    float: left;
    width: 30%;
    border: 1px solid black;
    box-shadow: inset 0px 0px 10px orange;
    margin: 5px;
}
#column-right {
    float: right;
    width: 30%;
    border: 1px solid black;
    box-shadow: inset 0px 0px 10px orange;
    margin: 5px;
    margin-bottom: 15px;
}
#column-box {
    align-content: center;
    width:inherit;
    margin: 2px auto;
}
img {
    float: right;
    padding: 2px;
}
.clear-right {
    clear: right;
}